<%- include('header') -%>

<section class="event">
  <div class="event-info">
    <h1 class="event-title"><%= event.name %></h1>
    <p class="event-description"><%= event.description %></p>
    <p class="event-location"><span>Staðsetning:</span> <%= event.location %></p>
    <p class="event-url"><span>Slóð viðburðar: </span><a href="//<%= event.url %>"><%= event.url %></a></p>
  </div>

  <div class="event-registered">
    <h2 class="event-subtitle">Skráningar á viðburð</h2>
    <% if (registered.length === 0) { %>
      <p class="event__empty">Engin hefur skráð sig á þennan viðburð</p>
    <% } else { %>
      <ul class="event-registeredList">
        <% registered.forEach((entry) => { %>
          <li class="event-registered-item">
            <span class="event-registered-name"><%= entry.name %></span>
            <% if (entry.comment) { %>
              <span class="event-registered-comment"><%= entry.comment %></span>
            <% } %>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </div>
  <% if (isLoggedIn === true) { %>
  <div class="event__registration">
    <h2 class="event-subtitle">Skráðu þig</h2>
    <form method="post" action="/event/<%= event.slug %>" enctype="application/x-www-form-urlencoded" class="">
      <div>
        <p class="event-user">Innskráður sem: <span><%= name %></span></p>
      </div>
      <div class="field field-textarea<%= locals.isInvalid('comment', errors) ?  ' field-invalid' : '' %>">
        <label for="comment">Athugasemd:</label>
        <textarea name="comment" id="comment"><%= data.comment %></textarea>
      </div>

      <% if (errors.length > 0) { %>
        <h3 class="errors-title">Villur við skráningu:</h3>
        <ul class="errors">
          <% errors.forEach((error) => { %>
            <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
          <% }); %>
        </ul>
      <% } %>

      <button class="button">Skrá mig</button>
    </form>
  </div>
  <% } else { %>
    <div>
      <p>Til að skrá sig á viðburð þarf að vera skráður inn</p>
      <a class="link__link" href="/login">Skrá mig inn</a>
    </div>
    <% } %>






  <div class="link">
    <a class="link__link" href="/">Til baka</a>
  </div>
</section>

<%- include('footer') -%>
