<section class="events">
  <h2 class="events__title">Viðburðir á næstunni</h2>
  <ul class="events__list">
    <% for (const event of events) { %>
      <li class="events-event">
        <a href="/event/<%= event.slug %>" class="events-event-link"><%= event.name %></a>
        <p class="events-event-description"><%= event.description %></p>
        <p class="events-eventURL">Staðsetning: <%= event.location %></p>
        <p class="events-eventLocation">Slóð viðburðar: <a  href="//<%= event.url %>"><%= event.url %></a></p>
        
        <% if (admin === true) { %>
          <div class="admin-tool">
            <p class="events-edit"><a href="/admin/<%= event.slug %>" class="events-eventEdit">Uppfæra viðburð</a></p>
            <p class="events-delete"><a href="/admin/delete/<%= event.slug %>" class="events-eventEdit">Eyða viðburð</a></p>
          </div>
        <% } %>
      </li>
    <% } %>
  </ul>
  <div class="pagination">
    <% if (page > 1) { %>
      <a href="/<%= page - 1 %>" class="pagination-link">&laquo; Fyrri síða</a>
    <% } %>
    <% for (let i = 1; i <= totalPages; i++) { %>
      <% if (i === page) { %>
        <span class="pagination-link pagination-link-current"><%= i %></span>
      <% } else { %>
        <a href="/<%= i %>" class="pagination-link"><%= i %></a>
      <% } %>
    <% } %>
    <% if (page < totalPages) { %>
      <a href="/<%= page + 1 %>" class="pagination-link">Næsta síða &raquo;</a>
    <% } %>
</section>
