<section class="events">
  <h2 class="events__title">Viðburðir á næstunni</h2>
  <ul class="events__list">
    <% for (const event of events) { %>
      <li class="events__event">
        <a href="/event/<%= event.slug %>" class="events__eventLink"><%= event.name %></a>
        <p class="events__eventDescription"><%= event.description %></p>
        <p class="events__eventURL">Staðsetning: <%= event.location %></p>
        <a class="events__eventLocation" href="//<%= event.url %>"><%= event.url %></a>
        <% if (admin === true) { %>
          <p><a href="/admin/<%= event.slug %>" class="events__eventEdit">Uppfæra viðburð</a></p>
          <p><a href="/admin/delete/<%= event.slug %>" class="events__eventEdit">Eyða viðburð</a></p>
        <% } %>
      </li>
    <% } %>
  </ul>
  <div class="pagination">
    <% if (page > 1) { %>
      <a href="/<%= page - 1 %>" class="pagination__link">&laquo; Fyrri síða</a>
    <% } %>
    <% for (let i = 1; i <= totalPages; i++) { %>
      <% if (i === page) { %>
        <span class="pagination__link pagination__link--current"><%= i %></span>
      <% } else { %>
        <a href="/<%= i %>" class="pagination__link"><%= i %></a>
      <% } %>
    <% } %>
    <% if (page < totalPages) { %>
      <a href="/<%= page + 1 %>" class="pagination__link">Næsta síða &raquo;</a>
    <% } %>
</section>
