<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>


<div class="link">
  <% if (isLoggedIn === false) { %>
    <a class="link__link" href="/login">Innskráning</a>
  <% } else { %>
    <p class="user__loggedin">Innskráður sem: <strong><%= username %></strong></p>
    <p class="user__logout"><a href="/logout">Útskrá</a></p>
  <% } %>


</div>


<%- include('footer') -%>
